<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :tweet_context, class: "form-control" %>

<div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, id: :tweet_context, class: "form-control" %>

<p><strong> or </strong></p>

 <div class="form-group">
    <%= form.label :text %>
    <%= form.text_field :text, id: :tweet_context, class: "form-control" %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
